body {
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    background: linear-gradient(black, maroon);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

h1, h2 {
    font-weight: 600;
}

h3, h4, p {
    font-weight: 300;
}

#dad-img {
    width: 150px;
    border-radius: 50%;
    border: 3px solid maroon;
    margin-bottom: 10px;
}

#bday-age {
    background: maroon;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: maroon;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 250px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media.giphy.com/media/gpXfKa9xLAR56/giphy.gif");
}

#gift-img-worship:hover {
    background-image: url("https://media.giphy.com/media/K55exy0toWjQc/giphy.gif");
}

#gift-img-fly:hover {
    background-image: url("https://media.giphy.com/media/L0kdgHOsvBaZlt8Ev2/giphy.gif");
}

#gift-img-badass:hover {
    background-image: url("https://media.giphy.com/media/l41lMgMCcCr7b9Q3K/giphy.gif");
}

#gift-img-cheers:hover {
    background-image: url("https://media.giphy.com/media/3o6ZsUJ44ffpnAW7Dy/giphy.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/
